* {
  box-sizing: border-box;
}

.board {
  border: 10px solid;
}

.board-element {
  border: 1px solid;
  font-size: small;
  width: 50px;
  height: 50px;
}

.title {
  margin: 20px;
}

.subtext {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.board > [data-status='hidden'] {
  background-color: #BBB;
  cursor: pointer;
}

.board > [data-status='mine'] {
  background-color: red;
}

.board > [data-status='number'] {
  background-color: none;
}

.board > [data-status='marked'] {
  background-color: yellow;
}


